[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
black = "*"
autopep8 = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
